.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  max-width: 100%;
  box-sizing: border-box;
}

.messageBubble {
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 8px;
  max-width: 75%;
  word-wrap: break-word;
}

.userMessage {
  align-self: flex-end;
  background-color: #16a34a;
  color: white;
}

.botMessage {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

.inputContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}

.input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.button {
  padding: 10px;
  margin-left: 8px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .messageBubble {
    max-width: 90%;
    font-size: 0.9rem;
  }
  .input,
  .button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .messageBubble {
    font-size: 0.8rem;
  }
  .input,
  .button {
    font-size: 0.8rem;
  }
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-container input[type="file"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.upload-container p {
  margin: 5px 0;
  color: #555;
}

.upload-container button {
  padding: 10px 20px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.upload-container button:hover {
  background-color: #16a34a;
}

.upload-container .message {
  margin-top: 15px;
  color: #007aff;
  font-size: 1rem;
  text-align: center;
}

.upload-container .error {
  color: red;
  font-weight: bold;
}
